div#style {
  font-family: sans-serif;
  background-color: thistle;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

p {
  font-family: sans-serif;
}