<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hair Salon</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

<h1>Welcome to the Hair Salon</h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
</body>

</html>